* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}





  
.container-fluid{
    width: 100%;
    height: 100%;
    padding: 0 !important;

}
/* .home-header{
    width: 1280px;
    height: 832px;
    position: relative;
    animation: slideBackgrounds 15s infinite;
}
@keyframes slideBackgrounds {
    0% {
        background-image: url(img/backgroundHome.png);
    }
    33% {
        background-image: url(img/logoWatertec.png);
    }
    66% {
        background-image: url(img/logoWatertec.png);
    }
    100% {
        background-image: url(img/backgroundHome.png);
    }
} */

.home-header{
    width: 100%;
    height: 832px;
    background-size: cover;  /* Ảnh bao phủ toàn bộ phần tử */
    background-position: center; /* Căn giữa ảnh */
    background-repeat: no-repeat; /* Không lặp lại ảnh */
    background-image: url(img/backgroundHome.png);
    align-items: center ;
    padding-top: 19px;
    min-height: 345px;
}
@media (max-width: 1300px) {
    .home-header {
        height: 641px; /* Giảm chiều cao khi màn hình nhỏ */
    }
}
@media (max-width: 1000px) {
    .home-header {
        height: 345px; /* Giảm chiều cao khi màn hình nhỏ */
    }
}

@media (max-width: 700px ) { 
    .home-header {
        height: 4px; /* Giảm chiều cao hơn nữa cho thiết bị di động */
    }
}
 .header-nav {
    margin-left: 10%;
    padding-top: 19px;
    width: 80%; 
    height: 86px; 
    align-items: center; 
    border-radius: 20px;
    background: rgba(0, 183, 191, 0.65);
    border: 2px #FCFCFC solid;         
    backdrop-filter: blur(120.8px); 
}
.container-menu{
    align-items: center;
}

.navbar.menu a {
    text-decoration: none; /* Remove underline */
    color: #fff; /* Change color to white */
}

.navbar.menu a:hover {
    color: #FCFCFC; /* Change color on hover */
}

.menu {
    display: flex;
    align-items: center; 
    justify-content: center; 
    list-style-type: none; 
    padding: 0;
    margin: 0;
    height: 100%; 
}

.menu li {
    margin: 0 ; 
    padding: 10px;
    display: flex;
    align-items: center; 
    height: 100%; 
}

.menu li span {
    color: #FCFCFC;
    display: block;
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.18px;
    line-height: normal;  
}
.language select{
    border: none;
    background: none;
    color: #FCFCFC;
}
.language img{
    margin-bottom: 4px;
}

.w-76 {
    width: 76%;
} 
.content-about{
    width: 100%;
 
}  
.heading-about{
    margin-bottom: 30px;
    margin-left: 10%;
}
.info-about{
    display: flex;
    margin-left: 10%;
}
.container-about-text{
    flex:1;
    padding-right: 15px;
}
.container-about-img{
    flex:1;
    align-items: center;
    justify-items: center;
}
.container-about-img-detail{
    list-style-type: none;
    display: flex;
    margin-top: 10px;
}

.container-about-img-detail li{
    margin-right: 9px;
}
.container-about-img-detail li:last-child{
    margin-right: 0px;
}  
.container-heading{
    padding: 50px 0;
}
.text-watertec{
    display: flex;
    margin: -15px 0;
}
.text-about{
    font-size: 48px;
  
    font-style: italic;  
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.92px; 
    color: transparent; /* Màu của chữ bên trong, có thể dùng transparent để chỉ hiện stroke */
    -webkit-text-stroke-width: 2px; /* Độ dày của đường viền */
    -webkit-text-stroke-color: #005498;
 
}
.text-water{
    color: #00ADEF;

    font-size: 78px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 3.12px;
}
.text-tec{
    color: #EA2128;

    font-size: 78px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 3.12px;
}
.text-subtitle{
    color: #005498;
  
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.24px;
}
.container-about-text{
    color: #1C1B1F;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
}
.container-about-img img{
    
}

.footer-about{
    margin-top: 20px;
    width: 100%;
    flex-shrink: 0;
    height: auto;
    border-radius: 80px 0px;
    background: #00B7BF;
    
}
.footer-about-info-head{
    width: 100%;
    padding: 32px 0;

}
.footer-about-info-head span{
    color: #FCFCFC;
    text-align: center;

    font-size: 22px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.88px; 
}
.footer-about-info-foot{
    width: 100%;
    padding: 18px 0;

}

.footer-about-info-foot span{
    color: #FCFCFC;
    text-align: center;

    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
}



.footer-about-flag{
    display: flex;
    align-items: center; /* Căn giữa các phần tử con theo chiều dọc */
    justify-content: center; /* Căn giữa các phần tử con theo chiều ngang */
    height: 100%; 
}
.img-flag{
    width: 72px;
    height: 72px;
    
}
.footer-about-flag ul{
    display: flex;
    list-style-type: none; /* Bỏ gạch đầu dòng */
    padding: 0;
    margin: 0;
    align-items: center; 
}
.footer-about-flag li{
    flex: 1;
    margin-right: 25px;
}
.footer-about-flag li:last-child{
    margin-right: 0px;
}   
.home-container-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.container-product{
    flex: 0 0 calc(33.33% - 15px); /* Mỗi sản phẩm chiếm 30% chiều rộng, cách đều nhau */
    margin-bottom: 20px; /* Khoảng cách giữa các hàng */
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;    
    box-sizing: border-box;
    border-radius: 8px;
}
.home-content-product{
    padding: 50px 0;    
    width: 80%;
    margin-left: 10%;
}
.text-our{  
    color: #005498;

    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.92px;
}
.text-product{
    display: flex;
    margin:-15px 0 40px 35px;
    font-size: 78px;

    font-style: italic;  
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.92px; 
    color: transparent; /* Màu của chữ bên trong, có thể dùng transparent để chỉ hiện stroke */
    -webkit-text-stroke-width: 2px; /* Độ dày của đường viền */
    -webkit-text-stroke-color: #00B7BF;
}
.container-img-product {
    width: 100%;
    height: 210px; /* Đặt chiều cao cố định cho hình ảnh sản phẩm */
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9; /* Màu nền của thẻ con */
    box-sizing: border-box;
    border-radius: 8px;
    border: 3px solid #FCFCFC;
    opacity: 0.5;
   
}
.container-img-product span{
    color: #FFFCF2;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: italic;
    font-weight: 600;
    line-height: 45px; /* 140.625% */
    letter-spacing: 2.56px;
}   


.home-heading-news{
    height: 346px;
    flex-shrink: 0;
    background-color: #00B7BF;
    margin-top: 20px;
    width: 100%;
    flex-shrink: 0;
    border-radius: 80px 0px;
}

.home-cont-text-news{
    padding: 50px 0;
    width: 80%;
    margin-left: 10%;
}

.text-news{
    display: flex;
    margin: -15px 0 0 35px;
    color: #FCFCFC;
    font-size: 78px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 3.12px; 
} 

/* footer */

.footer{
    background: #00B7BF;
    padding: 26px 0;

}
.footer ul{
    list-style-type: none;
}
.footer-content{
    display: flex;
    width: 80%;
    margin-left: 10%;
}
.footer li{
    margin-bottom: 10px;
}
.footer h3{
    color: #FCFCFC;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}
.footer span{
    color: #FCFCFC;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer-container-1{
    flex:3;
}
.footer-container-2{
    flex:2;
}
.footer-cori{
    text-align: center;
}
.footer-content-2 {
    display: flex;
    width: 35.56%;
    margin-left: 54.44%;
    margin-bottom: 20px;
}

.footer-container-3 {
    flex: 1; 

}
.footer-container-cont{
    margin-bottom: 15px;
}
.footer-container-cont h4{
    color: #FCFCFC;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}



/* About */
/* video background */



.about-cocq{
    margin-top: 120px;
    width: 80%;
    margin-left: 10%;
}
.text-cocq{
    display: flex;
    margin: -40px 30px;
    text-align: center;
    align-items: center;    
}


.text-co{
    color: #00B7BF;
    font-size: 78px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 3.12px;
}
.text-and{
    font-size: 120px;
    font-style: italic;  
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.92px; 
    color: transparent; 
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: #005498;
}
.content-cocq{
    margin:100px 0;
    display: flex;
    justify-content: space-between; 
    
}
.cont-co{
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.cont-co span{
    color: #005498;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
}

.detail-product-header{
    width: 100%;
    align-items: center ;
    padding-top: 19px;

}
.edit-icon{
   color: #00B7BF;
   font-size: 32px;

}
.pro-de-redirect{
    margin: 60px 0;
    width: 80%;
    margin-left: 10%;
    align-items: center;
    display: flex;
    align-items: center;
}
.pro-de-redirect i, 
.pro-de-redirect a {
    margin: 0 5px;
}
.pro-de-redirect span{
    color: #00B7BF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2px;
}


.pro-de-content{
    margin-bottom: 80px;
    width: 90%;
}

.pro-de-cont1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.pro-img{
    margin-bottom: 35px;
}


.pro-img{

}
.pro-info .row .col-6 .row-4{
    margin-bottom: 23px;
}
.pro-de-cont2{
    display: flex; /* Kích hoạt Flexbox */
    flex-direction: column; /* Sắp xếp theo chiều dọc */
    height: 100%; 
}
.pro-heading{
   margin-bottom: 10%;
}
.text-product-name{
    color: #005498;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;   
}
.pro-info{
    margin-bottom: 20%;
    
}
.pro-info-col1 span{
    color: #1C1B1F;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;  
} 
.pro-info-col2{
    color: #00B7BF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px; 
}
.pro-info .row-4 {
    height: 30%;
    display: flex;
    align-items: center;
}
.custom-input{
    background-color: #f0f0f0; 
    color: #333333; 
    border: 1px solid #cccccc; 
    padding: 10px;
    border-radius: 5px; 
}
.pro-warning {
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: auto; 
}


.pro-warning span{
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;  
}
.pro-de-descripion{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 100px;
}
.pro-de-relative{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 100px;
}
.heading-pro-de-relative{
    margin-bottom: 70px;
}


.pagination {
    font-size: 14px;
}

.page-link1 {
    color:#ADADAD; 
    border: none; 
}
.page-item1{
    margin-right: 20px;
}
.page-link1:hover {
    color: #737373; 
    text-decoration: underline; 
}

.page-item1.active .page-link1 {
    color: #737373;;
}

.page-item1.disabled .page-link1 {
    color: #6c757d; 
    background-color: transparent; 
    pointer-events: none;
}
.text-pag {
     color: #ADADAD;
     font-size: 18px;
     font-weight: 400;
     letter-spacing: 0.72px;
     word-wrap: break-word
}
.news-de-header{
    width: 60%;
    margin-left: 20%;
    align-items: center;
    text-align: center;
}
.news-de-header h3{
    color: #005498;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1.92px;
    word-wrap: break-word
}
.news-de-body{
    width: 80%;
    margin-left: 10%;
    align-items: center;
   
}
.text-news{
    color: #1C1B1F;
    font-size: 20px;
   
    font-weight: 400;
    letter-spacing: 0.80px;
    word-wrap: break-word
}
.news-de-daca {
    color: #00B7BF;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.72px;
    word-wrap: break-word;
    padding: 0 20px; 
    margin-left: 10%;
}
.news-de-body-header{
    color: #005498;
    font-size: 24px;

    font-weight: 700;
    letter-spacing: 0.96px;
    word-wrap: break-word
}
.news-de-other-news-container{
    width: 80%;
    margin-left: 10%;
}
.other-news-body .text-compaigns{
    color: #00B7BF;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.45px;
    word-wrap: break-word
}
.text-news-title{
    color: #005498;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.67px;
    word-wrap: break-word
}
.text-news-date{
    color: #1C1B1F;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    letter-spacing: 0.16px;
    word-wrap: break-word
}