* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}





  
.container-fluid{
    width: 100%;
    height: 100%;
    padding: 0 !important;

}


input::placeholder {
    color: #00B7BF; 
    opacity: 1; 
}

.home-header{
    width: 100%;
    height: 832px;
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url(img/backgroundHome.png);
    align-items: center ;
    padding-top: 19px;
    min-height: 345px;
}
@media (max-width: 1300px) {
    .home-header {
        height: 641px; 
    }
}
@media (max-width: 1000px) {
    .home-header {
        height: 345px;
    }
}

@media (max-width: 768px ) { 
    .home-header {
        height: 4px;
    }
}
.header-nav {
    margin: auto;
    padding-top: 19px;
    width: 80%;
    min-height: 86px; 
    border-radius: 20px;
    background: rgba(0, 183, 191, 0.65);
    border: 2px #FCFCFC solid;
    backdrop-filter: blur(120.8px);
}
@media (max-width: 768px) {
    
}


.container-menu{
    align-items: center;
}
.container-menu a{
    text-decoration: none; 
    color: #fff; 
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.18px;
    line-height: normal;  

}
.navbar.menu a {
    text-decoration: none; 
    color: #fff; 
}
a.hover{
    color: #FCFCFC;
    font-weight: 600;   
}
.container-menu a:hover {
    color: #FCFCFC;
}

.menu {
    display: flex;
    align-items: center; 
    justify-content: center; 
    list-style-type: none; 
    padding: 0;
    margin: 0;
    height: 100%; 
}

.menu li {
    margin: 0 ; 
    padding: 10px;
    display: flex;
    align-items: center; 
    height: 100%; 
}
.navbar-nav.container-menu {
    flex-grow: 1;
    justify-content: center; 
}

.navbar-nav.ms-auto {
    display: flex;
    align-items: center;
}   
.navbar-toggler {
    border: 1px solid white;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}


.language select{
    border: none;
    background: none;
    color: #FCFCFC;
}
.language img{
    margin-bottom: 4px;
}

.w-76 {
    width: 76%;
} 
.content-about{
    width: 100%;
 
}  
.heading-about{
    margin-left: 10%;
}
.info-about{
    width: 80% !important;
    margin-left: 10% !important;
}

.container-about-img{

    align-items: center;
    justify-items: center;
}
.container-about-img-detail{
    list-style-type: none;
    display: flex;
    margin-top: 10px;
}

.container-about-img-detail li{
    margin-right: 9px;
}
.container-about-img-detail li:last-child{
    margin-right: 0px;
}  
.container-heading{
    padding: 50px 0;
}
.text-watertec{
    display: flex;
    margin: -15px 0;
}
.text-about{
    font-size: 48px;
  
    font-style: italic;  
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.92px; 
    color: transparent; 
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: #005498;
 
}
.text-latest{
    font-size: 48px;
  
    font-style: italic;  
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.92px; 
    color: transparent; 
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: #005498;
}


.text-water{
    color: #00ADEF;

    font-size: 78px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 3.12px;
}
.text-tec{
    color: #EA2128;

    font-size: 78px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 3.12px;
}
.text-subtitle{
    color: #005498;
  
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.24px;
}
.container-about-text{
    color: #1C1B1F;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
}
.container-about-img img{
    
}

.footer-about{
    margin-top: 20px;
    width: 100%;
    flex-shrink: 0;
    height: auto;
    border-radius: 80px 0px;
    background: #00B7BF;
    
}
.footer-about-info-head{
    width: 100%;
    padding: 32px 0 16px;

}
.footer-about-info-head p{
    color: #FCFCFC;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.88px; 
}
.footer-about-info-foot{
    width: 100%;
    padding: 18px 0;

}

.footer-about-info-foot span{
    color: #FCFCFC;
    text-align: center;

    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
}



.footer-about-flag{
    display: flex;
    align-items: center; /* Căn giữa các phần tử con theo chiều dọc */
    justify-content: center; /* Căn giữa các phần tử con theo chiều ngang */
    height: 100%; 
}
.img-flag{
    width: 72px;
    height: 72px;
    
}
.footer-about-flag ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.footer-about-flag li {
    flex: 1 1 25%; 
    max-width: 72px;
    margin: 5px;
}

@media (max-width: 768px) {
    .footer-about-flag li {
        flex: 1 1 25%; 
        max-width: 57px;
    }
    .footer-about-flag li:nth-child(n+5) {
        display: none;
    }
   
}
.footer-about-flag li:last-child{
    margin-right: 0px;
}   

.home-container-product{
  
    flex-wrap: wrap;
    justify-content: space-between;

}






.container-product{
    flex: 0 0 calc(33.33% - 15px); /* Mỗi sản phẩm chiếm 30% chiều rộng, cách đều nhau */
    margin-bottom: 20px; /* Khoảng cách giữa các hàng */
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;    
    box-sizing: border-box;
    border-radius: 8px;
}
.home-content-product{
    padding: 50px 0;    
    width: 80%;
    margin-left: 10%;
}
.text-our{  
    color: #005498;

    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.92px;
}
.text-product{
    display: flex;
    margin:-15px 0 40px 35px;
    font-size: 78px;

    font-style: italic;  
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.92px; 
    color: transparent; /* Màu của chữ bên trong, có thể dùng transparent để chỉ hiện stroke */
    -webkit-text-stroke-width: 2px; /* Độ dày của đường viền */
    -webkit-text-stroke-color: #00B7BF;
}
.container-img-product {
    width: 100%;
    height: 210px; /* Đặt chiều cao cố định cho hình ảnh sản phẩm */
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9; /* Màu nền của thẻ con */
    box-sizing: border-box;
    border-radius: 8px;
    border: 3px solid #FCFCFC;
    opacity: 0.5;
   
}
.container-img-product span{
    color: #FFFCF2;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: italic;
    font-weight: 600;
    line-height: 45px; /* 140.625% */
    letter-spacing: 2.56px;
}   


.home-heading-news{
    height: 346px;
    flex-shrink: 0;
    background-color: #00B7BF;
    margin-top: 20px;
    width: 100%;
    flex-shrink: 0;
    border-radius: 80px 0px;
}



.text-news{
    display: flex;
    margin: -15px 0 0 35px;
    color: #FCFCFC;
    font-size: 78px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 3.12px; 
} 
.home-cont-text-news a{
    font-size: 30px;
}
.home-slider-news{
    max-width: 100%;
}
.home-slider-news .row ,.home-slider-news img{
    box-shadow: 0px 0px 14.399999618530273px rgba(53, 54, 58, 0.40); 
    border-radius: 7.20px;
    background: #FCFCFC;

}
.swiper-slide{
    max-width: 100%;
}
.swiper-wrapper{
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;

}
.swiper-container{
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
.home-cont-slider-news{
    margin-top: -50px;
    max-width: 100%;
}
.swiper-pagination {
    position: relative !important; 
    
}

.swiper-pagination-bullet {
    background-color: #ccc; /* Default dot color */
    opacity: 0.6;
}

.swiper-pagination-bullet-active {
    background-color: #00B7BF; /* Active dot color */
    opacity: 1;
}
.text-news-title-home{
    font-size: 21px;
    color: #00B7BF;
    font-weight: 700;
    letter-spacing: 0.67px;
    word-wrap: break-word;
}
.text-more{
    font-size: 18px;
}
.home-cont-process .col-4{
    margin-top: -90px;
    width: 100%;    
    height: 150px; 
    background: #D9D9D9; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; 
    border-bottom-right-radius: 90px; 
    border-top-right-radius: 90px;
}
.home-cont-process i{
        display: inline-block; 
        width: 70px; 
        height: 70px; 
        font-size: 64px;
        line-height: 70px; 
        text-align: center; 
}
.home-cont-process span{
    color: #005498;
    font-size: 26px;
    font-family: Inter;
    font-style: italic;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 2.45px;
    word-wrap: break-word;
}
.process-item-1{
    position: relative;
    z-index: 3;
}
.process-item-2{
    position: relative; 
    z-index: 2;
    margin-left: -60px;
}
.process-item-3{
    position: relative; 
    z-index: 1; 
    margin-left: -60px;
}

.text-view-more a{
    color: #005498;
    font-size: 30px;
    font-family: Inter;
    font-style: italic;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 1.20px;
    word-wrap: break-word   
}

/* footer */

.footer{
    background: #00B7BF;
    padding: 26px 0;

}
.footer ul{
    list-style-type: none;
}
.footer-content{

    width: 80%;
    margin-left: 10%;
}
.footer li{
    margin-bottom: 10px;
}
.footer h3{
    color: #FCFCFC;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}
.footer span{
    color: #FCFCFC;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer-container-1{
    flex:3;
}
.footer-container-2{
    flex:2;
}
.footer-cori{
    text-align: center;
}
.footer-content-2 {
    display: flex;
    width: 35.56%;
    margin-left: 54.44%;
    margin-bottom: 20px;
}

.footer-container-3 {
    flex: 1; 

}
.footer-container-cont{
    margin-bottom: 15px;
}
.footer-container-cont h4{
    color: #FCFCFC;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}



/* About */
/* video background */



.about-cocq{
    width: 80%;
    margin-left: 10%;
}
.text-cocq{
    display: flex;
    margin: -40px 30px;
    text-align: center;
    align-items: center;   
    color: #00B7BF;
    font-size: 78px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 3.12px; 
}

.text-and{
    font-size: 120px;
    font-style: italic;  
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.92px; 
    color: transparent; 
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: #005498;
}


.cont-co span{
    color: #005498;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
}

.detail-product-header{
    width: 100%;
    align-items: center ;
    padding-top: 19px;

}
.edit-icon{
   color: #00B7BF;
   font-size: 32px;

}
.pro-de-redirect{
    margin: 60px 0;
    width: 80%;
    margin-left: 10%;
    align-items: center;
    display: flex;
    align-items: center;
}
.pro-de-redirect i, 
.pro-de-redirect a {
    margin: 0 5px;
}
.pro-de-redirect span{
    color: #00B7BF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2px;
}


.pro-de-content{
    margin-bottom: 80px;
    width: 80%;
}

.pro-de-cont1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.pro-img{
    margin-bottom: 35px;
}

.pro-info .row .col-6 .row-4{
    margin-bottom: 23px;
}
.pro-de-cont2{
    display: flex; 
    flex-direction: column;
    height: 100%; 
}
.pro-heading{
   margin-bottom: 10%;
}
.text-product-name{
    color: #005498;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;   
}
.pro-info{
    margin-bottom: 20%;
    
}
.pro-info-col1 span{
    color: #1C1B1F;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;  
} 
.pro-info-col2{
    color: #00B7BF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px; 
}
.pro-info .row-4 {
    height: 30%;
    display: flex;
    align-items: center;
}
.custom-input{
    background-color: #f0f0f0; 
    color: #333333; 
    border: 1px solid #cccccc; 
    padding: 10px;
    border-radius: 5px; 
}
.pro-warning {
    display: flex;
    align-items: center;
    margin-left: auto; 
}


.pro-warning span{
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;  
}
.pro-de-descripion{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 100px;
}
.pro-de-relative{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 100px;
}
.heading-pro-de-relative{
    margin-bottom: 70px;
}


.pagination {
    font-size: 14px;
}

.page-link1 {
    color:#ADADAD; 
    border: none; 
}
.page-item1{
    margin-right: 20px;
}
.page-link1:hover {
    color: #737373; 
    text-decoration: underline; 
}

.page-item1.active .page-link1 {
    color: #737373;;
}

.page-item1.disabled .page-link1 {
    color: #6c757d; 
    background-color: transparent; 
    pointer-events: none;
}
.text-pag {
     color: #ADADAD;
     font-size: 18px;
     font-weight: 400;
     letter-spacing: 0.72px;
     word-wrap: break-word
}
.news-de-header{
    width: 60%;
    margin-left: 20%;
    align-items: center;
    text-align: center;
}
.news-de-header h3{
    color: #005498;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1.92px;
    word-wrap: break-word
}
.news-de-header h3 {
    color: #005498;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1.92px;
    word-wrap: break-word;
}
.text-view-all{
    color: #FCFCFC;
    text-decoration: underline;
}
.full-title {
    display: inline;
}
.short-title {
    display: none;
}


.text-info{
    font-size: 18px;
}



.news-de-body{
    width: 80%;
    margin-left: 10%;   
}
.text-news-de{
    color: #1C1B1F;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.80px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.news-de-daca {
    
    padding: 0 20px; 
    margin-left: 10%;
}
.news-de-daca span {
    white-space: nowrap;
    color: #00B7BF;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.72px;
    word-wrap: break-word;
}

.news-de-body-header{
    color: #005498;
    font-size: 24px;

    font-weight: 700;
    letter-spacing: 0.96px;
    word-wrap: break-word
}
.news-de-other-news-container{
    width: 80%;
    margin-left: 10%;
}
.w-80-ml-10{
    width: 80%;
    margin-left: 10%;       
}

/* News detail */

.text-compaigns-de{
    color: #00B7BF;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.45px;
    word-wrap: break-word
}
.text-news-title-de{
    color: #005498;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.67px;
    word-wrap: break-word
}
.text-news-date-de{
    color: #1C1B1F;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    letter-spacing: 0.16px;
    word-wrap: break-word
}
  /* Products */
.title-pro-heading {
     font-size: 20px;
     font-weight: 700;
     letter-spacing: 0.80px;
     word-wrap: break-word
}
.container-img {
    width: 100%;              
    max-width: 800px;          
    margin: 0 auto;                      
    box-sizing: border-box;    
    text-align: center;        
}

.container-img img {
    width: 100%;               
    height: auto;              
         
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

/* news */
.text-compaigns{
    color: #00B7BF;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.45px;
    word-wrap: break-word
}
.text-news-title{
    color: #005498;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.67px;
    word-wrap: break-word
}
.text-news-date{
    color: #1C1B1F;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    letter-spacing: 0.16px;
    word-wrap: break-word
}
.text-news-content{
    color: #1C1B1F;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    letter-spacing: 0.80px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Contact */
.contact-cont-1{
    width: 100%;
    height: 100%; 
    background: #FCFCFC; 
    box-shadow: 2px 2px 8px rgba(28, 27, 31, 0.40); 
    border-radius: 8px;
    padding: 30px;
}
.border-icon{
    border-radius: 50%;
    background-color: #005498;
    width: 0.5rem;
    height: 1rem;
}

/* responsive */
@media (max-width: 768px) {
    .process-item-2{
        margin-left: -20px;
    }
    .process-item-3{
        margin-left: -20px;
    }
    .home-cont-process .col-4{
        margin-top: -30px;
        height: 55px;
        width: 127px;
    }
    .home-cont-process i{
        width: 15px;
        height: 15px;
        font-size: 15px;
        line-height: 15px;
    }
    .home-cont-process span{
        font-size: 11px;
        margin-left: 15px;
        margin-top: -20px;
        display: flex;
    }
    .text-view-more a{
        font-size: 14px;
    }
    .home-heading-news{
        height: 200px;
        border-radius: 40px 0px;
    }
    .text-compaigns{
        font-size: 8px !important;
    }
    .text-news-title-home{
        font-size: 12px !important; 
    }
    .text-news-date{
        font-size: 6px !important;
    }
    .text-more{
        font-size: 8px !important;
    }
    .news-de-header h3 {
        font-size: 32px;
    }
    .full-title {
        display: none;
    }
    .short-title {
        display: inline;
    }
    .news-de-daca .row span,a,input::placeholder, input{
        font-size: 14px;
    }
    .news-de-daca .row{
        flex-wrap: nowrap;
        margin: 0 !important; 
    }
    .news-de-body-img{
        height: 490px;
    }
    .text-compaigns{
        margin-top: 20px;
    }
    .toggle-list {
        display: none; 
    }
    .toggle-list {
        display: none;
    }
    
    .toggle-list.show {
        display: block;
    }
    
    .toggle-btn {
        cursor: pointer;
        font-size: 20px;
        margin-left: 50%;
    }
    .text-our{
        font-size: 38px;
    }
    .text-product{
        font-size: 62px;
    }
    .text-about{
        font-size: 44px;
    }

    .text-water{
        font-size: 43px;
    }
    .text-tec{
        font-size: 43px;
    }
    .container{
        width: 100%;
    }
    .text-subtitle{
        font-size: 9px;
    }

    .container-about-text {
        font-size: 16px;
    }
   
    .img-flag{
        width: 57px;
        height: 57px;    
    }
    .text-cocq{
        font-size: 43px;
        margin: -25px 20px;
    }
    .text-and{
        font-size: 60px;
    }
    .about-cocq{
        width: 100%;
        margin: 0;
        padding: 0 20px;
    }
    .footer-about-info-head p{
        font-size: 16.5px;
    }
    .footer-about{
        border-radius: 40px 0px;
    }
    .cont-co span{
       
        font-size: 18px;
    }
    .cont-co{
        align-items: center;
    }
    .header-nav {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 15px; 
    }
    .news-de-daca{
        min-width: 375px;
        margin-left: 0 !important;
        padding: 0 !important;
    }
    .text-info{
        font-size: 14px;
    }
    .text-news-title{
        font-size: 21px !important;
    }
    .text-news-compaigns{
        font-size: 14.4px !important;
    }
    .text-news{
        font-size: 44px;
    }
    .home-cont-text-news a{
        font-size: 14px;
    }
    .text-latest{
        font-size: 27px;
    }
    .text-our{
        font-size: 44px;
    }
    .text-product{
        font-size: 62px;
    }
    .text-pag {
        font-size: 14px;
    }
}
@media (max-width: 987px) {
    .container-news-seekbar{
        display: block;
        justify-items: center;
        margin: auto;
    }
}