* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.inter-sub {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.nunito-sans-head {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }



  
.container-fluid{
    width: 100%;
    height: 100%;
    padding: 0;
}
/* .home-header{
    width: 1280px;
    height: 832px;
    position: relative;
    animation: slideBackgrounds 15s infinite;
}
@keyframes slideBackgrounds {
    0% {
        background-image: url(img/backgroundHome.png);
    }
    33% {
        background-image: url(img/logoWatertec.png);
    }
    66% {
        background-image: url(img/logoWatertec.png);
    }
    100% {
        background-image: url(img/backgroundHome.png);
    }
} */

.home-header{
    width: 100%;
    height: 832px;
    background-size: cover;  /* Ảnh bao phủ toàn bộ phần tử */
    background-position: center; /* Căn giữa ảnh */
    background-repeat: no-repeat; /* Không lặp lại ảnh */
    background-image: url(img/backgroundHome.png);
    align-items: center ;
    padding-top: 19px;
    min-height: 345px;
}
@media (max-width: 1300px) {
    .home-header {
        height: 641px; /* Giảm chiều cao khi màn hình nhỏ */
    }
}
@media (max-width: 1000px) {
    .home-header {
        height: 345px; /* Giảm chiều cao khi màn hình nhỏ */
    }
}

@media (max-width: 700px ) { 
    .home-header {
        height: 4px; /* Giảm chiều cao hơn nữa cho thiết bị di động */
    }
}
 .home-header-nav {
    margin-left: 10%;
    padding-top: 19px;
    width: 80%; 
    height: 86px; 
    align-items: center; 
    border-radius: 20px;
    background: rgba(0, 183, 191, 0.65);
    border: 2px #FCFCFC solid;
              
    backdrop-filter: blur(120.8px); 
}
.container-menu{
    align-items: center;
}
.menu {
    display: flex;
    align-items: center; 
    justify-content: center; 
    list-style-type: none; 
    padding: 0;
    margin: 0;
    height: 100%; 
}

.menu li {
    margin: 0 ; 
    padding: 10px;
    display: flex;
    align-items: center; 
    height: 100%; 
}

.menu li span {
    color: #FCFCFC;
    display: block;
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.18px;
    line-height: normal;  
}
.language select{
    border: none;
    background: none;
    color: #FCFCFC;
}
.language img{
    margin-bottom: 4px;
}

.w-76 {
    width: 76%;
} 
.content-about{
    width: 100%;
 
}  
.heading-about{
    margin-bottom: 30px;
    margin-left: 10%;
}
.info-about{
    display: flex;
    margin-left: 10%;
}
.container-about-text{
    flex:1;
    padding-right: 15px;
}
.container-about-img{
    flex:1;
    align-items: center;
    justify-items: center;
}
.container-about-img-detail{
    list-style-type: none;
    display: flex;
    margin-top: 10px;
    width: 467px;
}
.container-about-img-detail li{
    flex:1;

}
.container-heading{
    padding: 50px 0;
}
.text-watertec{
    display: flex;
    margin: -15px 0;
}
.text-about{
    font-size: 48px;
    font-family: "Nunito Sans";
    font-style: italic;  
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.92px; 
    color: transparent; /* Màu của chữ bên trong, có thể dùng transparent để chỉ hiện stroke */
    -webkit-text-stroke-width: 2px; /* Độ dày của đường viền */
    -webkit-text-stroke-color: #005498;
 
}
.text-water{
    color: #00ADEF;
    font-family: "Nunito Sans";
    font-size: 78px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 3.12px;
}
.text-tec{
    color: #EA2128;
    font-family: "Nunito Sans";
    font-size: 78px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 3.12px;
}
.text-subtitle{
    color: #005498;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.24px;
}
.container-about-text{
    color: #1C1B1F;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
}
.container-about-img img{
    
}

.footer-about{
    margin-top: 20px;
    width: 100%;
    flex-shrink: 0;
    height: auto;
    border-radius: 80px 0px;
    background: #00B7BF;
    
}
.footer-about-info-head{
    width: 100%;
    padding: 32px 0;

}
.footer-about-info-head span{
    color: #FCFCFC;
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.88px; 
}
.footer-about-info-foot{
    width: 100%;
    padding: 18px 0;

}

.footer-about-info-foot span{
    color: #FCFCFC;
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
}



.footer-about-flag{
    display: flex;
    align-items: center; /* Căn giữa các phần tử con theo chiều dọc */
    justify-content: center; /* Căn giữa các phần tử con theo chiều ngang */
    height: 100%; 
}
.img-flag{
    width: 72px;
    height: 72px;
    
}
.footer-about-flag ul{
    display: flex;
    list-style-type: none; /* Bỏ gạch đầu dòng */
    padding: 0;
    margin: 0;
    align-items: center; 
}
.footer-about-flag li{
    flex: 1;
    margin-right: 15px;
}
.footer-about-flag li:last-child{
    margin-right: 0px;
}   
.home-container-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.container-product{
    flex: 0 0 calc(33.33% - 15px); /* Mỗi sản phẩm chiếm 30% chiều rộng, cách đều nhau */
    margin-bottom: 20px; /* Khoảng cách giữa các hàng */
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;    
    box-sizing: border-box;
    border-radius: 8px;
}
.home-content-product{
    padding: 50px 0;    
    width: 80%;
    margin-left: 10%;
}
.text-our{  
    color: #005498;
    font-family: "Nunito Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.92px;
}
.text-product{
    display: flex;
    margin:-15px 0 40px 35px;
    font-size: 78px;
    font-family: "Nunito Sans";
    font-style: italic;  
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.92px; 
    color: transparent; /* Màu của chữ bên trong, có thể dùng transparent để chỉ hiện stroke */
    -webkit-text-stroke-width: 2px; /* Độ dày của đường viền */
    -webkit-text-stroke-color: #00B7BF;
}
.container-img-product {
    width: 100%;
    height: 210px; /* Đặt chiều cao cố định cho hình ảnh sản phẩm */
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9; /* Màu nền của thẻ con */
    box-sizing: border-box;
    border-radius: 8px;
    border: 3px solid #FCFCFC;
    opacity: 0.5;
   
}
.container-img-product span{
    color: #FFFCF2;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: italic;
    font-weight: 600;
    line-height: 45px; /* 140.625% */
    letter-spacing: 2.56px;
}   


.home-heading-news{
    height: 346px;
    flex-shrink: 0;
    background-color: #00B7BF;
    margin-top: 20px;
    width: 100%;
    flex-shrink: 0;
    border-radius: 80px 0px;
}

.home-cont-text-news{
    padding: 50px 0;
    width: 80%;
    margin-left: 10%;
}

.text-news{
    display: flex;
    margin: -15px 0 0 35px;
    color: #FCFCFC;
    font-family: "Nunito Sans";
    font-size: 78px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 3.12px; 
} 

.footer{
    background: #00B7BF;
    padding: 26px 0;

}
.footer ul{
    list-style-type: none;
}
.footer-content{
    display: flex;
    width: 80%;
    margin-left: 10%;
}
.footer li{
    margin-bottom: 10px;
}
.footer h3{
    color: #FCFCFC;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}
.footer span{
    color: #FCFCFC;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer-container-1{
    flex:3;
}
.footer-container-2{
    flex:2;
}
.footer-cori{
    text-align: center;
}
.footer-content-2 {
    display: flex;
    width: 35.56%;
    margin-left: 54.44%;
}

.footer-container-3 {
    flex: 1; 

}
.footer-container-cont{
    margin-bottom: 15px;
}
.footer-container-cont h4{
    color: #FCFCFC;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}